/*  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#art {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	padding-left: 0px;
	text-align: justify;
	text-indent: 24px;
	color: #000000;
}
